<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Save.CheckRevision" type="Sitecore.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.CheckRevision, Sitecore.ExperienceEditor.Speak.Ribbon">
        <patch:attribute name="type">Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.CheckRevision, Sitecore.Support.76398</patch:attribute>
      </request>
      <request name="ExperienceEditor.LockItem" type="Sitecore.ExperienceEditor.Speak.Ribbon.Requests.LockItem.ToggleLockRequest, Sitecore.ExperienceEditor.Speak.Ribbon">
        <patch:attribute name="type">Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.LockItem.ToggleLockRequest, Sitecore.Support.76398</patch:attribute>
      </request>
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>